.header {
    align-content: center;
    background-color: var(--primary-color);
    display: flex;
    grid-area: header;
    justify-content: center;
    position: relative;
    z-index: 20;
}

.menu {
    background-color: var(--primary-color);
    grid-area: menu;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 30;
}

.menu-items-container {
    display: flex;
    justify-content: space-around;
    margin: 0 calc(var(--base-size) * 2);
    padding: var(--base-size) 0;
}

.menu-item {
    align-items: center;
    border-radius: 25px;
    display: flex;
    justify-content: center;
    padding: calc(var(--base-size) * 0.75);
    width: calc(var(--base-size) * 7)
}

.main {
    display: flex;
    grid-area: main;
    justify-self: center;
    flex-direction: column;
}

.main-content {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin-top: 0;
    max-width: 60ch;
    padding: calc(var(--base-size) * 4);
}

.img-home-article {
    max-width: 60ch;
    height: auto;
    border-radius: 8px;
    margin: calc(var(--base-size) * 2) 0;
    width: 100%;
    height: auto;
}

.sidebar {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    grid-area: sidebar;
}

.sidebar-content {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    margin: 0 auto;
    max-width: 60ch;
    padding: calc(var(--base-size) * 4) calc(var(--base-size) * 3) calc(var(--base-size) * 3) calc(var(--base-size) * 3);
}

.img-home-sidebar {
    border-radius: 50%;
    height: initial;
    margin: var(--base-size) auto;
    width: 80%;
}

.img-about-main {
    border-radius: 50%;
    height: initial;
    margin: var(--base-size) auto;
    width: 100%;
}

.img-about-main-container {
    display: flex;
    gap: calc(var(--base-size) * 4);
}

.img-about-main-item {
    font-size: 0.8rem;
    line-height: 1.5;
    font-weight: 700;

}

.button {
    background-color: var(--primary-color);
    border: 2px solid;
    border-color: var(--text-color);
    border-radius: 8px;
    color: var(--bright-color);
    margin: calc(var(--base-size) * 2) auto;
    min-width: 6rem;
    padding: var(--base-size);
    width: fit-content;
}

.sidebar-list {
    margin: var(--base-size) 0;
    padding: 0 var(--base-size);
}

.button:hover {
    background-color: var(--primary-color);
    color: var(--bright-color);
    opacity: 90%;
}

.sidebar a:visited {
    color: var(--bright-color);
}

.contact-sidebar {
    background-image: url(
        ../img/sidebar-img-tim-mossholder-unsplash.webp
        );
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: sidebar;
    overflow: hidden;
}

.footer {
    background-color: var(--dark-color);
    color: var(--bright-color);
    display: flex;
    flex-direction: column;
    font-family: 'Playfair Display', serif;
    font-style: italic;
    grid-area: footer;
    padding: calc(var(--base-size) * 4);
    text-align: center;
}

.chevron {
    color: var(--bright-color);
    font-size: 2rem;
    padding-bottom: calc(var(--base-size) * 4);
}

.chevron:hover {
    color: var(--primary-color);
    transition: 0.1s;
}

.chevron a:visited {
    color: var(--bright-color);
}

h1,
h2,
h3,
h4 {
    font-family: 'Playfair Display', serif;
    font-style: italic;
}

h1 {
    color: var(--accent-color);
    text-align: center;
    margin: calc(var(--base-size) * 4) 0 calc(var(--base-size) * 2) 0;
}

h2 {
    margin-bottom: 0;
}

.preamble {
    font-size: 1.2rem;
    font-weight: 700;
}

a,
a:visited {
    color: inherit;
    text-decoration: none;
}

.menu-item:hover  {
    background-color: var(--accent-color);
    color: var(--primary-color);
    transition: 0.3s;
    opacity: 80%;
}

.current-menu-item {
    background-color: var(--accent-color);
    color: var(--primary-color);
}

.about-sidebar-item {
    margin-bottom: 0;
}

.mobile-menu-container {
    background-color: var(--primary-color);
    display: none;
    flex-direction: column;
    left: 0;
    min-width: 100vw;
    overflow: hidden;
    padding-top: calc(var(--base-size) * 2);
    position: fixed;
    top: calc(var(--base-size) * 5);
    z-index: 10;
}

.mobile-menu-container .menu-item {
    border-radius: 0;
    margin: 0 auto;
    min-width: 100%;
    overflow: hidden;
    padding: calc(var(--base-size) * 3) 0;
}

.mobile-bars:hover .mobile-menu-container {
    display: flex;
}